body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.link {
    display: block;
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.link:hover {
    background-color: #f2f2f2;
}
